{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-analytics" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		{% if enabled_extensions %}
		<div class="alert alert-warning"><i class="fa-solid fa-circle-exclamation"></i> {{ error_analytics_extension }}</div>
		{% endif %}
		<div class="card">
			<div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form id="form-analytics" action="{{ action }}" method="post" data-oc-toggle="ajax">

					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
						<li class="nav-item"><a href="#tab-track-events" data-bs-toggle="tab" class="nav-link">{{ tab_track_events }}</a></li>
						<li class="nav-item" id="tab-item-gcm"{% if analytics_ps_enhanced_measurement_implementation != 'gtm' %} style="display: none;"{% endif %}><a href="#tab-gcm" data-bs-toggle="tab" class="nav-link">{{ tab_gcm }}</a></li>
						<li class="nav-item"><a href="#tab-support" data-bs-toggle="tab" class="nav-link">{{ tab_help_and_support }}</a></li>
					</ul>

					<div class="tab-content">
						<div id="tab-general" class="tab-pane active">

							<div class="row mb-3">
								<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_status" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_status" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_status %} checked{% endif %} id="input-status" />
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-debug-mode" class="col-sm-2 col-form-label">{{ entry_debug_mode }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_debug_mode" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_debug_mode" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_debug_mode %} checked{% endif %} id="input-debug-mode" />
									</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-measurement-implementation" class="col-sm-2 col-form-label">{{ entry_measurement_implementation }}</label>
								<div class="col-sm-10">
									<select name="analytics_ps_enhanced_measurement_implementation" id="input-measurement-implementation" class="form-select">
										{% for key, name in measurement_implementations %}
											<option value="{{ key }}"{% if key == analytics_ps_enhanced_measurement_implementation %} selected{% endif %}>{{ name }}</option>
										{% endfor %}
									</select>
									<div id="error-input-measurement-implementation" class="invalid-feedback"></div>
								</div>
							</div>

							<ul class="nav nav-tabs">
								<li class="nav-item"><a href="#tab-gtag" data-bs-toggle="tab" class="nav-link{% if analytics_ps_enhanced_measurement_implementation == 'gtag' or analytics_ps_enhanced_measurement_implementation == '' %} active{% endif %}">{{ tab_gtag }}</a></li>
								<li class="nav-item"><a href="#tab-gtm" data-bs-toggle="tab" class="nav-link{% if analytics_ps_enhanced_measurement_implementation == 'gtm' %} active{% endif %}">{{ tab_gtm }}</a></li>
							</ul>

							<div class="tab-content">
								<div id="tab-gtag" class="tab-pane{% if analytics_ps_enhanced_measurement_implementation == 'gtag' or analytics_ps_enhanced_measurement_implementation == '' %} active{% endif %}">

									<div class="row mb-3 required">
										<label for="input-google-tag-id" class="col-sm-2 col-form-label">{{ entry_google_tag_id }}</label>
										<div class="col-sm-10">
											<input type="text" name="analytics_ps_enhanced_measurement_google_tag_id" value="{{ analytics_ps_enhanced_measurement_google_tag_id | default('') }}" placeholder="{{ entry_google_tag_id }}" id="input-google-tag-id" class="form-control" />
											<div id="error-input-google-tag-id" class="invalid-feedback"></div>
											<div class="form-text">{{ help_google_tag_id_locate }}</div>
										</div>
									</div>

									<div class="row mb-3 required">
										<label for="input-mp-api-secret" class="col-sm-2 col-form-label">{{ entry_measurement_protocol_api_secret }}</label>
										<div class="col-sm-10">
											<input type="text" name="analytics_ps_enhanced_measurement_mp_api_secret" value="{{ analytics_ps_enhanced_measurement_mp_api_secret | default('') }}" placeholder="{{ entry_measurement_protocol_api_secret }}" id="input-mp-api-secret" class="form-control" />
											<div id="error-input-mp-api-secret" class="invalid-feedback"></div>
											<div class="form-text">{{ help_mp_api_secret_locate }}</div>
										</div>
									</div>

									<div class="row mb-3">
										<label for="input-debug-mode" class="col-sm-2 col-form-label">{{ entry_gtag_debug_mode }}</label>
										<div class="col-sm-10">
											<div class="form-check form-switch form-switch-lg">
												<input type="hidden" name="analytics_ps_enhanced_measurement_gtag_debug_mode" value="0" />
												<input type="checkbox" name="analytics_ps_enhanced_measurement_gtag_debug_mode" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_gtag_debug_mode %} checked{% endif %} id="input-debug-mode" />
											</div>
										</div>
									</div>

								</div>
								<div id="tab-gtm" class="tab-pane{% if analytics_ps_enhanced_measurement_implementation == 'gtm' %} active{% endif %}">

									<div id="group-gtm" class="row mb-3 required">
										<label for="input-gtm-id" class="col-sm-2 col-form-label">{{ entry_gtm_id }}</label>
										<div class="col-sm-10">
											<input type="text" name="analytics_ps_enhanced_measurement_gtm_id" value="{{ analytics_ps_enhanced_measurement_gtm_id | default('') }}" placeholder="{{ entry_gtm_id }}" id="input-gtm-id" class="form-control" />
											<div id="error-input-gtm-id" class="invalid-feedback"></div>
											<div class="form-text">{{ help_gtm_id_locate }}</div>
										</div>
									</div>

								</div>
							</div>

							<fieldset class="border p-3 mb-3">
								<legend>{{ text_store_options_group }}</legend>

								<div class="row mb-3">
									<label for="input-affiliation" class="col-sm-2 col-form-label">{{ entry_affiliation }}</label>
									<div class="col-sm-10">
										<input type="text" name="analytics_ps_enhanced_measurement_affiliation" value="{{ analytics_ps_enhanced_measurement_affiliation | default('') }}" placeholder="{{ entry_affiliation }}" id="input-affiliation" class="form-control" />
										<div class="form-text">{{ help_affiliation }}</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-location-id" class="col-sm-2 col-form-label">{{ entry_location_id }}</label>
									<div class="col-sm-10">
										<input type="text" name="analytics_ps_enhanced_measurement_location_id" value="{{ analytics_ps_enhanced_measurement_location_id | default('') }}" placeholder="{{ entry_location_id }}" id="input-location-id" class="form-control" />
										<div class="form-text">{{ help_location_id }}</div>
									</div>
								</div>

							</fieldset>

							<fieldset class="border p-3 mb-3">
								<legend>{{ text_item_options_group }}</legend>

								<div class="row mb-3">
									<label for="input-item-price-tax" class="col-sm-2 col-form-label">{{ entry_item_price_tax }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_enhanced_measurement_item_price_tax" value="0" />
											<input type="checkbox" name="analytics_ps_enhanced_measurement_item_price_tax" value="1" id="input-item-price-tax" class="form-check-input" {% if analytics_ps_enhanced_measurement_item_price_tax %} checked{% endif %} />
										</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-currency" class="col-sm-2 col-form-label">{{ entry_currency }}</label>
									<div class="col-sm-10">
										<select name="analytics_ps_enhanced_measurement_currency" id="input-currency" class="form-select">
											{% for key, value in currencies %}
												<option value="{{ key }}"{% if key == analytics_ps_enhanced_measurement_currency %} selected{% endif %}>{{ value }}</option>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-item-id" class="col-sm-2 col-form-label">{{ entry_item_id }}</label>
									<div class="col-sm-10">
										<select name="analytics_ps_enhanced_measurement_item_id" id="input-item-id" class="form-select">
											{% for key, value in item_id_options %}
												<option value="{{ key }}"{% if key == analytics_ps_enhanced_measurement_item_id %} selected{% endif %}>{{ value }}</option>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-item-category-option" class="col-sm-2 col-form-label">{{ entry_item_category_option }}</label>
									<div class="col-sm-10">
										<select name="analytics_ps_enhanced_measurement_item_category_option" id="input-item-category-option" class="form-select">
											{% for key, name in item_category_options %}
												<option value="{{ key }}"{% if key == analytics_ps_enhanced_measurement_item_category_option %} selected{% endif %}>{{ name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>

							</fieldset>

						</div>
						<div id="tab-gcm" class="tab-pane">

							<div class="alert alert-info"><i class="fa-solid fa-circle-exclamation"></i> {{ text_gcm_info }}</div>

							<div class="row mb-3">
								<label for="input-gcm-status" class="col-sm-2 col-form-label">{{ entry_gcm_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_gcm_status" value="0">
										<input type="checkbox" name="analytics_ps_enhanced_measurement_gcm_status" value="1" id="input-gcm-status" class="form-check-input" {% if analytics_ps_enhanced_measurement_gcm_status %} checked{% endif %}>
									</div>
									<div class="form-text">{{ help_gcm_status }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-gcm-profiles" class="col-sm-2 col-form-label">{{ entry_gcm_profiles }}</label>
								<div class="col-sm-10">
									<select name="analytics_ps_enhanced_measurement_gcm_profiles" id="input-gcm-profiles" class="form-select">
										{% for key, name in gcm_profiles %}
										<option value="{{ key }}"{% if key == analytics_ps_enhanced_measurement_gcm_profiles %} selected{% endif %}>{{ name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<fieldset id="ad-settings-group" class="border p-3 mb-3">
								<legend>{{ text_group_ad_settings }}</legend>

								<div class="row mb-3">
									<label for="input-ad-storage" class="col-sm-2 col-form-label">{{ entry_ad_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_enhanced_measurement_ad_storage" value="0">
											<input type="checkbox" name="analytics_ps_enhanced_measurement_ad_storage" value="1" id="input-ad-storage" class="form-check-input" {% if analytics_ps_enhanced_measurement_ad_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_ad_storage }}</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-ad-user-data" class="col-sm-2 col-form-label">{{ entry_ad_user_data }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_enhanced_measurement_ad_user_data" value="0">
											<input type="checkbox" name="analytics_ps_enhanced_measurement_ad_user_data" value="1" id="input-ad-user-data" class="form-check-input" {% if analytics_ps_enhanced_measurement_ad_user_data %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_ad_user_data }}</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-ad-personalization" class="col-sm-2 col-form-label">{{ entry_ad_personalization }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_enhanced_measurement_ad_personalization" value="0">
											<input type="checkbox" name="analytics_ps_enhanced_measurement_ad_personalization" value="1" id="input-ad-personalization" class="form-check-input" {% if analytics_ps_enhanced_measurement_ad_personalization %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_ad_personalization }}</div>
									</div>
								</div>

							</fieldset>

							<fieldset id="analytics-settings-group" class="border p-3 mb-3">
								<legend>{{ text_group_analytics_settings }}</legend>

								<div class="row mb-3">
									<label for="input-analytics-storage" class="col-sm-2 col-form-label">{{ entry_analytics_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_enhanced_measurement_analytics_storage" value="0">
											<input type="checkbox" name="analytics_ps_enhanced_measurement_analytics_storage" value="1" id="input-analytics-storage" class="form-check-input" {% if analytics_ps_enhanced_measurement_analytics_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_analytics_storage }}</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-functionality-storage" class="col-sm-2 col-form-label">{{ entry_functionality_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_enhanced_measurement_functionality_storage" value="0">
											<input type="checkbox" name="analytics_ps_enhanced_measurement_functionality_storage" value="1" id="input-functionality-storage" class="form-check-input" {% if analytics_ps_enhanced_measurement_functionality_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_functionality_storage }}</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-personalization-storage" class="col-sm-2 col-form-label">{{ entry_personalization_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_enhanced_measurement_personalization_storage" value="0">
											<input type="checkbox" name="analytics_ps_enhanced_measurement_personalization_storage" value="1" id="input-personalization-storage" class="form-check-input" {% if analytics_ps_enhanced_measurement_personalization_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_personalization_storage }}</div>
									</div>
								</div>

							</fieldset>

							<fieldset id="security-settings-group" class="border p-3 mb-3">
								<legend>{{ text_group_security_settings }}</legend>

								<div class="row mb-3">
									<label for="input-security-storage" class="col-sm-2 col-form-label">{{ entry_security_storage }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="analytics_ps_enhanced_measurement_security_storage" value="0">
											<input type="checkbox" name="analytics_ps_enhanced_measurement_security_storage" value="1" id="input-security-storage" class="form-check-input" {% if analytics_ps_enhanced_measurement_security_storage %} checked{% endif %}>
										</div>
										<div class="form-text">{{ help_security_storage }}</div>
									</div>
								</div>

							</fieldset>

							<fieldset class="border p-3 mb-3">
								<legend>{{ text_group_advanced_settings }}</legend>

								<div class="row mb-3">
									<label for="input-wait-for-update" class="col-sm-2 col-form-label">{{ entry_wait_for_update }}</label>
									<div class="col-sm-10">
										<input type="number" min="0" max="10000" name="analytics_ps_enhanced_measurement_wait_for_update" value="{{ analytics_ps_enhanced_measurement_wait_for_update | default('0') }}" placeholder="{{ entry_wait_for_update }}" id="input-wait-for-update" class="form-control">
										<div id="error-input-wait-for-update" class="invalid-feedback"></div>
										<div class="form-text">{{ help_wait_for_update }}</div>
									</div>
								</div>

								<div class="row mb-3">
										<label for="input-ads-data-redaction" class="col-sm-2 col-form-label">{{ entry_ads_data_redaction }}</label>
										<div class="col-sm-10">
												<div class="form-check form-switch form-switch-lg">
														<input type="hidden" name="analytics_ps_enhanced_measurement_ads_data_redaction" value="0">
														<input type="checkbox" name="analytics_ps_enhanced_measurement_ads_data_redaction" value="1" id="input-ads-data-redaction" class="form-check-input" {% if analytics_ps_enhanced_measurement_ads_data_redaction %} checked{% endif %}>
												</div>
												<div class="form-text">{{ help_ads_data_redaction }}</div>
										</div>
								</div>

								<div class="row mb-3">
										<label for="input-url-passthrough" class="col-sm-2 col-form-label">{{ entry_url_passthrough }}</label>
										<div class="col-sm-10">
												<div class="form-check form-switch form-switch-lg">
														<input type="hidden" name="analytics_ps_enhanced_measurement_url_passthrough" value="0">
														<input type="checkbox" name="analytics_ps_enhanced_measurement_url_passthrough" value="1" id="input-url-passthrough" class="form-check-input" {% if analytics_ps_enhanced_measurement_url_passthrough %} checked{% endif %}>
												</div>
												<div class="form-text">{{ help_url_passthrough }}</div>
										</div>
								</div>

							</fieldset>

						</div>
						<div id="tab-track-events" class="tab-pane">

							<div id="group-gtm" class="row mb-3">
								<label for="input-tracking-delay" class="col-sm-2 col-form-label">{{ entry_tracking_delay }}</label>
								<div class="col-sm-10">
									<input type="text" name="analytics_ps_enhanced_measurement_tracking_delay" value="{{ analytics_ps_enhanced_measurement_tracking_delay | default(800) }}" placeholder="{{ entry_tracking_delay }}" id="input-tracking-delay" class="form-control" />
									<div id="error-input-tracking-delay" class="invalid-feedback"></div>
									<div class="form-text">{{ help_tracking_delay }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-user-id" class="col-sm-2 col-form-label">{{ entry_user_id }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_user_id" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_user_id" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_user_id %} checked{% endif %} id="input-user-id" />
									</div>
									<div class="form-text">{{ help_user_id }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-generate-lead" class="col-sm-2 col-form-label">{{ entry_generate_lead }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_generate_lead" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_generate_lead" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_generate_lead %} checked{% endif %} id="input-generate-lead" />
									</div>
									<div class="form-text">{{ help_generate_lead }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-sign-up" class="col-sm-2 col-form-label">{{ entry_sign_up }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_sign_up" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_sign_up" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_sign_up %} checked{% endif %} id="input-sign-up" />
									</div>
									<div class="form-text">{{ help_sign_up }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-login" class="col-sm-2 col-form-label">{{ entry_login }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_login" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_login" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_login %} checked{% endif %} id="input-login" />
									</div>
									<div class="form-text">{{ help_login }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-add-to-wishlist" class="col-sm-2 col-form-label">{{ entry_add_to_wishlist }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_add_to_wishlist" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_add_to_wishlist" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_add_to_wishlist %} checked{% endif %} id="input-add-to-wishlist" />
									</div>
									<div class="form-text">{{ help_add_to_wishlist }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-add-to-cart" class="col-sm-2 col-form-label">{{ entry_add_to_cart }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_add_to_cart" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_add_to_cart" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_add_to_cart %} checked{% endif %} id="input-add-to-cart" />
									</div>
									<div class="form-text">{{ help_add_to_cart }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-remove-from-cart" class="col-sm-2 col-form-label">{{ entry_remove_from_cart }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_remove_from_cart" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_remove_from_cart" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_remove_from_cart %} checked{% endif %} id="input-remove-from-cart" />
									</div>
									<div class="form-text">{{ help_remove_from_cart }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-search" class="col-sm-2 col-form-label">{{ entry_search }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_search" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_search" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_search %} checked{% endif %} id="input-search" />
									</div>
									<div class="form-text">{{ help_search }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-view-item-list" class="col-sm-2 col-form-label">{{ entry_view_item_list }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_view_item_list" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_view_item_list" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_view_item_list %} checked{% endif %} id="input-view-item-list" />
									</div>
									<div class="form-text">{{ help_view_item_list }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-select-item" class="col-sm-2 col-form-label">{{ entry_select_item }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_select_item" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_select_item" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_select_item %} checked{% endif %} id="input-select-item" />
									</div>
									<div class="form-text">{{ help_select_item }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-view-item" class="col-sm-2 col-form-label">{{ entry_view_item }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_view_item" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_view_item" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_view_item %} checked{% endif %} id="input-view-item" />
									</div>
									<div class="form-text">{{ help_view_item }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-select-promotion" class="col-sm-2 col-form-label">{{ entry_select_promotion }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_select_promotion" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_select_promotion" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_select_promotion %} checked{% endif %} id="input-select-promotion" />
									</div>
									<div class="form-text">{{ help_select_promotion }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-view-promotion" class="col-sm-2 col-form-label">{{ entry_view_promotion }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_view_promotion" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_view_promotion" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_view_promotion %} checked{% endif %} id="input-view-promotion" />
									</div>
									<div class="form-text">{{ help_view_promotion }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-view-cart" class="col-sm-2 col-form-label">{{ entry_view_cart }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_view_cart" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_view_cart" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_view_cart %} checked{% endif %} id="input-view-cart" />
									</div>
									<div class="form-text">{{ help_view_cart }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-begin-checkout" class="col-sm-2 col-form-label">{{ entry_begin_checkout }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_begin_checkout" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_begin_checkout" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_begin_checkout %} checked{% endif %} id="input-begin-checkout" />
									</div>
									<div class="form-text">{{ help_begin_checkout }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-add-payment-info" class="col-sm-2 col-form-label">{{ entry_add_payment_info }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_add_payment_info" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_add_payment_info" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_add_payment_info %} checked{% endif %} id="input-add-payment-info" />
									</div>
									<div class="form-text">{{ help_add_payment_info }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-add-shipping-info" class="col-sm-2 col-form-label">{{ entry_add_shipping_info }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_add_shipping_info" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_add_shipping_info" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_add_shipping_info %} checked{% endif %} id="input-add-shipping-info" />
									</div>
									<div class="form-text">{{ help_add_shipping_info }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-purchase" class="col-sm-2 col-form-label">{{ entry_purchase }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="analytics_ps_enhanced_measurement_track_purchase" value="0" />
										<input type="checkbox" name="analytics_ps_enhanced_measurement_track_purchase" value="1" class="form-check-input" {% if analytics_ps_enhanced_measurement_track_purchase %} checked{% endif %} id="input-purchase" />
									</div>
									<div class="form-text">{{ help_purchase }}</div>
								</div>
							</div>

						</div>
						<div id="tab-support" class="tab-pane">
							<h3>{{ heading_getting_started }}</h3>
							{{ text_getting_started }}
							<hr />
							<h3>{{ heading_setup }}</h3>
							{{ text_setup }}
							<hr />
							<h3>{{ heading_troubleshot }}</h3>
							{{ text_troubleshot }}
							<hr />
							<h2>{{ heading_fix }}</h2>
							<div class="row mb-3">
								<div class="col-sm-10">
									<button type="button" data-fix-action="{{ fix_event_handler }}" data-bs-toggle="tooltip" title="{{ button_fix_event_handler }}" class="btn btn-primary"><i class="fa-solid fa-gear"></i> {{ button_fix_event_handler }}</button>
								</div>
							</div>
							<hr />
							<h3>{{ heading_faq }}</h3>
							{{ text_faq }}
							<hr />
							<h3>{{ heading_contact }}</h3>
							{{ text_contact }}
						</div>

					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<script>

	$('#input-measurement-implementation').on('change', function () {
    var selectedValue = $(this).val();

    if (selectedValue === 'gtm') {
				$('#tab-item-gcm').show();
        $('a[href="#tab-gtm"]').tab('show');
    } else {
				$('#tab-item-gcm').hide();
        $('a[href="#tab-gtag"]').tab('show');
    }
	});

	var inputs = $('#ad-settings-group input[type="checkbox"], #analytics-settings-group input[type="checkbox"], #security-settings-group input[type="checkbox"]');

	$('#input-gcm-profiles').on('change', function () {
		inputs.prop('checked', false);

		var selectedValue = parseInt($(this).val());

		if (selectedValue === 1) { // Strict
			$('#input-functionality-storage').prop('checked', true);
			$('#input-personalization-storage').prop('checked', true);
			$('#input-security-storage').prop('checked', true);
		} else if (selectedValue === 2) { // Balanced
			$('#input-ad-storage').prop('checked', true);
			$('#input-ad-user-data').prop('checked', true);
			$('#input-analytics-storage').prop('checked', true);
			$('#input-functionality-storage').prop('checked', true);
			$('#input-personalization-storage').prop('checked', true);
			$('#input-security-storage').prop('checked', true);
		}
	});

	inputs.on('change', function () {
		$('#input-gcm-profiles option:first').prop('selected', true);
	});

	$('button[data-fix-action]').on('click', function() {
		var $this = $(this);
		var action = $(this).data('fix-action');

		$.ajax({
			url: action,
			dataType: 'json',
			beforeSend: function () {
				$($this).button('loading');
			},
			complete: function () {
				$($this).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>
{{ footer }}
